body {
  margin: 0;
  font-family: Share Tech Mono, monospace;
  font-size: 15px;
}

#mainmap {
  width: 100vw;
  height: 100vh;
}

#info {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  top: 30px;
  left: 30px;
  width: 25vw;
  color: #fff;
  background-color: rgba(92, 115, 168, 1);
  padding: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .3);
}

#info h1 {
  font-size: 20px;
  margin: 0 0 12px 0;
}

#info p {
  margin-bottom: 35px;
}

#info img {
  width: 95%;
  display: block;
  margin: 0 auto;
}

.leaflet-marker-pane {
  opacity: 0;
}

.leaflet-shadow-pane {
  opacity: 0;
}
